#box2{
	position:absolute;
	top:35%;
	left:65%;
	border: 2px solid black;
	border-radius: 7px;
	background-color: #C5E0FF;
	padding: 5px;
}
#box3{
	width: 400px;
	height: 380px;
	background-color: #C5E0FF;
	position:relative;
	top:35%;
	left:30%;
	border: 1px solid black;

}

#box4{
	border: 2px solid black;
	border-radius: 7px;
	background-color: #C5E0FF;
}

fieldset{
	padding-top:1%;
	border:none;
	font-size:20px
}

div li{
  text-align: left;
  padding: 10px 8px;
  text-decoration: none;
  list-style-type: circle;
}

a{
	text-decoration:none;
	color:black;
}

li a:hover {
  background-color: lightcyan;
}

body{
	margin:auto;
	font-family:"Georgia";
}
	
nav	ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #4760FF;
}
nav li {
	font-family: "Georgia", serif;
	float: left;
    border-right:1px solid #bbb;
}
nav li a {
  display: block;
  color: #DBFFF2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}
nav li a:hover {
  background-color: lightcyan;
}

h1, center {
	margin-left:1%;
	font-family: "Georgia", serif;
	text-align:center;
	color: #000066;
	font-size:25pt;
	background-attachment: fixed;
	}
h2{
	margin-left:1%;
	font-family: "Georgia", serif;
	color: black;
	font-size:20pt;
	font-style:italic;
	background-attachment: fixed;
	}
h3{
	margin-left:1%;
	font-family: "Georgia", serif;
	color: black;
	font-size:15pt;
	}
h4{	
	margin-left:1%;
	font-family: "Georgia", serif;
	color: black;
	font-size:15pt;
	}
	
	
legend{
	font-family:"Georgia", serif;
	color: black;
	font-size:18pt;
	padding-bottom: 6px;
	font-style: italic;
}

header,center {
	font-family: "Times New Roman", Times, serif;
    text-align: center;
    border: 3px solid green;
	border : thin solid blue;
	font-size:18pt;
	}
footer{
	position: absolute;
	font-family:arial;
	font-style:italic;
	font-size:18pt;
	width: 100%;
	border-top: 1px solid black;
	background-color: #4760FF;
}
ul{
	list-style-type: none;
	list-style-position: inside;
  }

p {
  font-family: "Times New Roman", Times, serif;
  line-height: 0.9em;
  }
	
th{
    background-color: white;
	font-family: "Georgia", serif;
	color: black;
	font-size:15pt;
}
td{
	font-family: "Georgia", serif;
	color: black;
	font-size:13pt;
	padding-left:8px;
	padding-right:8px;
}

table{
	margin-left:2%;
	margin-right:2%;
}

table, td{
	border: thin solid black;
	border-radius:10px;
	background-color: #C5E0FF;
	border-collapse: separate;
}

	